{% extends 'base.html' %}
{% block head_content %}
<title>Delete: {{ comment.title }}</title>
{% endblock %}

{% block content %}

{% if request.user == comment.creator or user.is_staff %}
<br>
<h1>Delete:<br>{{ comment.body }}</h1>
<br>
    {% csrf_token %}
    <strong>Are you sure that you want to delete comment:<br>{{ comment.body }}</strong><br>
    <button class='btn btn-secondary' type="submit">Delete</button><br>
    <a href="/">Cancel</a>
{% else %}
<br>
<h2>You are not the creator of the comment to delete it</h2>
{% endif %}

{% endblock %}