{% extends 'base.html' %}

{% block head_content %}
<title>Home</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}

{% block content %}

<br>
<form method="GET">
<h5>{{ video_filter.form }} <button class="btn btn-primary">Search</button></h5>
</form>

<br>

{% for video in videos %}

<div class="card" id="video" style="width: 18rem;">
    <img src="{{ video.thumbnail.url }}" class="card-img-top" alt="{{ video.title }}">
    <div class="card-body" id="card-body">
      <h5 class="card-title">{{ video.title }}</h5>{% if request.user == video.creator or user.is_staff %}<a href="{% url 'edit' video_id=video.pk video_title=video.title|slugify %}">(Edit)</a> <a href="{% url 'delete' video_id=video.pk video_title=video.title|slugify %}">(Delete)</a>{% endif %}
      <h6 class="card-title">Views: {{ video.views }}</h6>
      <h6 class="card-title">{{ video.creator }}</h6>
      <small class="card-text">{{ video.upload_date }}</small><br>
      <a href="{% url 'watch' video_id=video.pk video_title=video.title|slugify %}" class="btn btn-primary" id="watch-button">Watch</a>
    </div>
</div>

{% endfor %}

{% endblock %}
